:root{
    --dark-blue:#0E304E;
    --light-blue:#BDE4FF;
    --grey-blue:#DAE0E7;
    --white:#F8F8F8;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

body{
    background-color: var(--white);
}

.admin_login_card {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: auto;
    width: 500px;
}

.btn-login{
    padding: 12px 24px;
    background-color: var(--dark-blue);
    color: var(--white);
    box-shadow: var(--box-shadow);
    text-decoration: none;
    border-radius: 8px;
    border: none;
}

.btn-login:hover{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    box-shadow: var(--box-shadow);
}
